body {
    font-family: Arial;
    background: #4facfe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    width: 400px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, textarea, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}
